<launch>
<!--Control-->
    <node pkg="joy" type="joy_node" name="joy_node"/>
    <node pkg="vistech" type="autonomous_follow_closest_object.py" name="autonomous_follow_closest_object"/>
    <node pkg="vistech" type="autonomous_traffic_signs.py" name="autonomous_traffic_signs"/>
    <node pkg="vistech" type="control.py" name="control"/>
    <node pkg="vistech" type="manual.py" name="manual"/>




<include file="$(find vistech)/launch/roboclaw_ros/roboclaw.launch">
    <arg name="address_master" default="128"/>
    <arg name="address_slave" default="129"/>
</include>
<!--Motors-->
<include file="$(find vistech)/launch/rplidar_ros/rplidar.launch">
</include>


</launch>